@page "/aeronave"

<body>
    <h3>Cadastro de aeronaves</h3>

    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Modelo da Aernave:</label>
    <input type="modelo" class="form-control" id="exampleFormControlInput1" placeholder="Modelo da Aernave">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Fabricante da Aernave:</label>
    <input type="modelo" class="form-control" id="exampleFormControlInput1" placeholder="Fabricante da Aernave:">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Codigo da Aernave:</label>
    <input type="modelo" class="form-control" id="exampleFormControlInput1" placeholder="Codigo da Aernave">
    </div>
    <div>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <TabelaAeronave/>
</body>